<div class="container bg-white p-5 rounded-3 shadow-sm">
    <form id="patient-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row justify-content-center">
            <img src="../../../assets/avatar.png" alt="" class="rounded-circle img-responsive" style="max-width: 100px;">
            <h3 class="d-line text-center mt-4">{{ patient.firstName }} {{ patient.lastName }}</h3>
        </div>
        <div class="row ph-1 mt-3">
            <div class="col-sm-6">
                <label for="firstName" class="fw-semibold">First Name: </label>
                <input
                type="text"
                id="firstName"
                class="form-control required"
                size="120"
                max="120"
                name="firstName"
                [ngModel]=patient.firstName
                #name="ngModel"
                required>
                <br>
                <label for="lastName" class="fw-semibold">Last Name: </label>
                <input
                type="text"
                id="lastName"
                class="form-control required"
                size="120"
                max="120"
                name="lastName"
                [ngModel]=patient.lastName
                #name="ngModel"
                required>
                <br>
                <label for="phoneNumber" class="fw-semibold">Phone Number: </label>
                <input
                type="text"
                id="phoneNumber"
                class="form-control required"
                size="120"
                max="120"
                name="phoneNumber"
                [ngModel]=patient.phoneNumber
                #name="ngModel"
                required>
                <br>
                <label for="dateOfBirth" class="fw-semibold">Date Of Birth: </label>
                <input
                type="date"
                id="dateOfBirth"
                class="form-control"
                size="120"
                max="120"
                name="dateOfBirth"
                [ngModel]=patient.dateOfBirth
                #name="ngModel">
            </div>
            <div class="col-sm-6">

                <label for="dni" class="fw-semibold">DNI: </label>
                <input
                type="text"
                id="dni"
                class="form-control required"
                size="120"
                max="120"
                name="dni"
                [ngModel]=patient.dni
                #name="ngModel"
                required>
                <br>
                <label for="nationality" class="fw-semibold">Nationality: </label>
                <input
                type="text"
                id="nationality"
                class="form-control required"
                size="120"
                max="120"
                name="nationality"
                [ngModel]=patient.nationality
                #name="ngModel"
                required>
                <br>
                <label for="educationDegree" class="fw-semibold">Education Degree: </label>
                <input
                type="text"
                id="educationDegree"
                class="form-control"
                size="120"
                max="120"
                name="educationDegree"
                [ngModel]=patient.educationDegree
                #name="ngModel">
                <br>
                <label for="gender" class="fw-semibold">Gender: </label>
                <input
                type="text"
                id="gender"
                class="form-control required"
                size="120"
                max="120"
                name="gender"
                [ngModel]=patient.gender
                #name="ngModel"
                required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-xs-6 vcenter mt-3">
                <span class="float-end">
                    <button class="btn btn-success me-2" type="submit" [disabled]="!f.valid">Save</button>
                    <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
                </span>
            </div>
        </div>
    </form>
</div>