:host {
    background: white;
    min-height: 100vh;
    min-width: 270px;
    max-width: 270px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 1;
}

ul {
    margin-top: 36px;
}

ul li {
    margin-bottom: 10px;
}

li.active {
    background: #eee;
    border-radius: 8px;
}

li span {
    vertical-align: sub;
}